/* Breakout CSS - Framework-agnostic utilities for breaking out images and figures */

.breakout {
  padding-left: 10%;
  padding-right: 10%;

  /* Direct children, potentially wrapped in <p> for Markdown support */
  & > *,
  & > p > * {
    /* All the supported "figure" elements and custom utility class for other tags that need to be broken out */
    &:is(img, figure, picture, video, audio, iframe, object, embed, canvas, .breakout-figure) {
      width: auto; /* Support small images */
      max-width: 125%;
      transform: translateX(-50%);
      margin-left: 50%;

    }
    &:is(.breakout-figure) {
      width: 125% !important;
    }
  }

}

/* @TODO: Allow non-direct children. */
