/* Breakout CSS - Framework-agnostic utilities for breaking out images and figures */

.breakout {
  padding-inline: 10%;

  /* Direct children, or wrapped in <p> for Markdown support */
  & > *,
  & > p > * {
    &:is(
      /* Inline blocks */
      img, picture, figure, canvas, audio,
      /* Larger blocks */
      table,
      pre,
      iframe, object, embed, video,
      /* Custom utility classes for other tags that need to be broken out */
      .breakout-item,
      .breakout-item-max
    ) {
      width: fit-content;
      min-width: 100%;
      max-width: 125%;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    /* Respect inline blocks' min-width */
    &:is(img, picture, figure, canvas, audio) {
      min-width: auto;
    }

    /* Max out the width of the element */
    &.breakout-item-max {
      width: 125% !important; /* @TODO: !important for cases like figure.breakout-item-max */
    }
  }
}

/* @TODO: Allow non-direct children. */
