/* Breakout CSS - Framework-agnostic utilities for breaking out images and figures */

.breakout {
  padding-inline: 10%;

  /* Direct children, or wrapped in <p> for Markdown support */
  & > *,
  & > p > * {
    &:is(
      /* Inline blocks */
      img, picture, figure, canvas, audio,
      /* Larger blocks */
      table,
      pre,
      iframe, object, embed, video,
      /* Custom utility classes for other tags that need to be broken out */
      .breakout-item,
      .breakout-item-max
    ) {
      width: fit-content;
      min-width: 100%;
      max-width: 125%;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    /* Respect inline blocks' min-width */
    &:is(img, picture, figure, canvas, audio) {
      min-width: auto;
    }

    /* Max out the width of the element */
    &.breakout-item-max {
      width: 125% !important; /* !important is for cases like figure.breakout-item-max @TODO */
    }
  }
}

.breakout-headings {
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  hr {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 5%);
    }
  }
  h2:not([class]),
  h3:not([class]),
  h4:not([class]) {
    &::before {
      width: 10em;
      right: 100%;
      margin-right: 1rem;
      height: 0.3em;
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 10%),
        rgba(0, 0, 0, 5%) 10%,
        transparent
      );
    }
  }
  hr {
    height: 0.75rem;
    border: none;
    overflow: visible;

    &::before {
      width: 100vw;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
    }
  }
  hr + h2,
  hr + h3,
  hr + h4 {
    &::before {
      display: none !important;
    }
  }
}
