/* Breakout CSS - Framework-agnostic utilities for breaking out images and figures */

.breakout {
  padding-left: 10%;
  padding-right: 10%;

  /* Direct children, or wrapped in <p> for Markdown support */
  &, & > p {
    & > :is(
      /* All the supported "figure" elements */
      img, 
      figure, 
      picture, 
      video, 
      audio, 
      iframe, 
      object, 
      embed, 
      canvas,
      table,
      /* Custom utility class for other tags that need to be broken out */
      .breakout-figure
    ) {
      /* Mimic default img behavior to allow smaller width */
      width: auto;
      /* Allow the figure to grow to 125% of the container */
      max-width: 125%;
      transform: translateX(-50%);
      margin-left: 50%;
    }
  }
}

/* @TODO: Allow non-direct children. */
