/* Breakout CSS - Framework-agnostic utilities for breaking out images and figures */

.breakout {
  padding-left: 10%;
  padding-right: 10%;

  /* Direct children, or wrapped in <p> for Markdown support */
  & > *,
  & > p > * {
    &:is(
      /* Inline blocks */
      img, picture, figure, canvas, audio,
      /* Larger blocks */
      table,
      pre,
      iframe, object, embed, video,
      /* Custom utility class for other tags that need to be broken out */
      .breakout-item,
      .breakout-item-max
    ) {
      display: inline-block;
      width: auto;
      min-width: 100%;
      max-width: 125%;
      transform: translateX(-50%);
      margin-left: 50%;
    }

    /* Let inline blocks shrink to fit their content */
    &:is(img, picture, figure, canvas, audio) {
      min-width: auto;
    }

    /* Max out the width of the element */
    &:is(.breakout-item-max) {
      width: 125%;
    }
  }
}

/* @TODO: Allow non-direct children. */
