/* Breakout CSS - Framework-agnostic utilities for breaking out images and figures */

.breakout {
  padding-left: 10%;
  padding-right: 10%;

  /* Direct children, potentially wrapped in <p> for Markdown support */
  & > *,
  & > p > * {
    &:is(
      /* All the supported "figure" elements */
      img, 
      figure, 
      picture, 
      video, 
      audio, 
      iframe, 
      object, 
      embed, 
      canvas,
      table,
      /* Custom utility class for other tags that need to be broken out */
      .breakout-figure
    ) {
      width: auto; /* Support small images */
      max-width: 125%;
      transform: translateX(-50%);
      margin-left: 50%;

    }
    &:is(
      table,
      .breakout-figure
    ) {
      width: 125% !important;
    }
  }

}

/* @TODO: Allow non-direct children. */
